@media all and (min-width: 480px) {


  .StudentTests-header {
    background-color: #5280d1;
    min-height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }

  .TestList {
    width: 70%;
    position: relative;
    margin: auto;

  }
  .StudentTest form {
    margin: 0 auto;
    max-width: 600px;
    background-color: lightgray;
    padding: 70px;
    text-align: center;
  }

  body {
    background-color: #282c34;
  }

}
