@media all and (min-width: 480px) {


  .Tests-header {
    background-color: #5280d1;
    min-height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }

  .MaterialView {
    width: 50%;
    height: 600px;
    margin: auto;
    background-color: white;
  }

  body {
    background-color: #282c34;
  }

}
