@media all and (min-width: 480px) {


  .Questions-header {
    background-color: #5280d1;
    min-height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }

  .CreateQuestion {
    alignment: center;
  }
  .CreateQuestion form {
    margin: 0 auto;
    max-width: 500px;
    background-color: lightgray;
    padding: 70px;
    text-align: center;
  }
  .CreateQuestion Button {
    margin-top: 20px;
    padding: 10px;
    font-size: calc(8px + 2vmin);
  }

  .CreateQuestion input {
    background-color: white;
  }

  #selectAnswer{
    background-color: white;
    width: 250px;
    font-size: calc(4px + 2vmin);
  }
  #task-input {


  }
  .radio-answer {
    align-items: center;

    alignment: center;
  }


  body {
    background-color: #282c34;
  }

}
