@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
        background-color: lightgray;
        padding: 70px;
    }
   #username {
       padding: 10px;
       font-size: calc(6px + 2vmin);
   }

    #password {
        margin-top: 20px;
        padding: 10px;
        font-size: calc(6px + 2vmin);
    }
    .Login Button {
        margin-top: 20px;
        padding: 20px;
        font-size: calc(10px + 2vmin);
    }

}