.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
  left: 10px; top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;

}




